@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Eng. de Software e Eng. Mecânico<br />
    Curitiba - PR<br />
    Brasil
</address>

<address>
    <strong>Personal Page:</strong> <a href="https://bcserafim.infinityfreeapp.com/index.html">BCSERAFIM</a><br />
    <strong>Linkedin:</strong> <a href="https://www.linkedin.com/in/bcserafim/">LINKEDIN</a>
</address>
